{% extends "admin/change_list.html" %}

{% block extrastyle %}
    {{ block.super }}
    <style>
        /* Keep filter sidebar from shrinking the result table */
        #changelist { position: relative; margin-right: 0; }
        #changelist-form { position: relative; }
        #changelist-form .actions { padding-right: 240px; }
        #changelist-filter {
            position: absolute;
            top: 32px;
            right: 0;
            width: 220px;
            z-index: 2;
        }
    </style>
{% endblock %}

{% block object-tools-items %}
    <li>
        <a href="{% url 'admin:quiz_quizlink_import' %}" class="addlink">
            Import quiz from JSON
        </a>
    </li>
    {{ block.super }}
{% endblock %}
